extends layout

block content
    div(data-role='page',id='lightsPage')
        div(data-role='content',class='ui-content')
            //
                div(data-role='fieldcontain')
                    label(for='lamp1') Lampa 1:
                    select(id='lamp1',name='lamp1',data-role='slider',data-mini='true')
                        option(value='off') Av
                        option(value='on') På
                div(data-role='fieldcontain')
                    label(for='lamp2') Lampa 2:
                    select(id='lamp2',name='lamp2',data-role='slider',data-mini='true')
                        option(value='off') Av
                        option(value='on') På
            each remoteReceiver, i in remoteReceivers
                if remoteReceiver.type == "switch"
                    div(data-role='fieldcontain')
                        div(class='ui-grid-a')
                            div(class='ui-block-a')
                                label(for='switch_#{i}') #{remoteReceiver.name}:
                            div(class='ui-block-b')
                                select(id='switch_#{i}',name='switch_#{i}',data-role='slider',data-mini='true')
                                    option(value='off') Av
                                    if remoteReceiver.lastState == "on"
                                        option(value='on', selected) På
                                    else
                                        option(value='on') På

        div(data-role='footer',class='ui-header ui-bar-a',data-id='mystaticnavbar',data-position='fixed')
            div(data-role='navbar')
                ul#topnav
                    li
                        a(href='#lightsPage',data-transition='none',class='ui-btn-active ui-state-persist') Belysning
                    li
                        a(href='#sensorsPage',data-transition='none') Sensorer


    div(data-role='page',id='sensorsPage')
        div(data-role='content',class='ui-content')
            div(data-role="fieldcontain")
                fieldset(data-role="controlgroup", data-type="horizontal")
                    //legend Titta pa:
                    input(type="radio", name="radio-view", id="radio-view-a", value="list",data-mini="true")
                    label(for="radio-view-a") 3 timmar
                    input(type="radio", name="radio-view", id="radio-view-b", value="list",data-mini="true", checked)
                    label(for="radio-view-b") 24 timmar
                    input(type="radio", name="radio-view", id="radio-view-c", value="list",data-mini="true")
                    label(for="radio-view-c") 3 dagar
            div(data-role="collapsible",data-mini="true")
                h3 Temperatur
                div(data-role="collapsible",data-mini="true")
                    h3 Dygn
                    img(src="/rrd_images/Temperature_24H.png",width="100%")
                div(data-role="collapsible",data-mini="true")
                    h3 Vecka
                    img(src="/rrd_images/Temperature_weekly.png",width="100%")
                div(data-role="collapsible",data-mini="true")
                    h3 Månad
                    img(src="/rrd_images/Temperature_monthly.png",width="100%")
                div(data-role="collapsible",data-mini="true")
                    h3 År
                    img(src="/rrd_images/Temperature_yearly.png",width="100%")
            div(data-role="collapsible",data-mini="true")
                h3 Fukt
                div(data-role="collapsible",data-mini="true")
                    h3 Dygn
                    img(src="/rrd_images/Humidity_24H.png",width="100%")
                div(data-role="collapsible",data-mini="true")
                    h3 Vecka
                    img(src="/rrd_images/Humidity_weekly.png",width="100%")
                div(data-role="collapsible",data-mini="true")
                    h3 Månad
                    img(src="/rrd_images/Humidity_monthly.png",width="100%")
                div(data-role="collapsible",data-mini="true")
                    h3 År
                    img(src="/rrd_images/Humidity_yearly.png",width="100%")
            div(data-role="collapsible",data-mini="true")
                h3 El/Värme/Vatten
                div(data-role="collapsible",data-mini="true")
                    h3 Dygn
                    img(src="/rrd_images/Power_24H.png",width="100%")
                div(data-role="collapsible",data-mini="true")
                    h3 Vecka
                    img(src="/rrd_images/Power_weekly.png",width="100%")
                div(data-role="collapsible",data-mini="true")
                    h3 Månad
                    img(src="/rrd_images/Power_monthly.png",width="100%")
                div(data-role="collapsible",data-mini="true")
                    h3 År
                    img(src="/rrd_images/Power_yearly.png",width="100%")
            div(data-role="collapsible",data-mini="true")
                h3 System
                div(data-role="collapsible",data-mini="true")
                    h3 Dygn
                    img(src="/rrd_images/RSSI_24H.png",style="max-width:100%;")
                div(data-role="collapsible",data-mini="true")
                    h3 Vecka
                    img(src="/rrd_images/RSSI_weekly.png",style="max-width:100%;")
            p Just nu
                div(class='ui-grid-a')
                    div(class='ui-block-a') 
                        p Bron
                    div(class='ui-block-b') 
                        p#temp1 0
                div(class='ui-grid-a')
                    div(class='ui-block-a') 
                        p Forradet
                    div(class='ui-block-b') 
                        p#temp1 0
            p Prognos

        div(data-role='footer',class='ui-header ui-bar-a',data-id='mystaticnavbar',data-position='fixed')
            div(data-role='navbar')
                ul#topnav
                    li
                        a(href='#lightsPage',data-transition='none') Belysning
                    li
                        a(href='#sensorsPage',data-transition='none',class='ui-btn-active ui-state-persist') Sensorer
